<div class="row my-4">
	<label for="sku" class="col-sm-2 pl-5 col-form-label">SKU</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" name="sku" id="sku" value="<?=$values['sku'];?>">
		<span class="text-danger"><?=$errors['sku'];?></span>
	</div>
</div>

<div class="row my-4">
	<label for="name" class="col-sm-2 pl-5 col-form-label">Name</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" name="name" id="name" value="<?=$values['name'];?>">
		<span class="text-danger"><?=$errors['name'];?></span>
	</div>
</div>

<div class="row my-4">
	<label for="price" class="col-sm-2 pl-5 col-form-label">Price</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" name="price" id="price" value="<?=$values['price'];?>">
		<span class="text-danger"><?=$errors['price'];?></span>
	</div>
</div>